body {
    background-color: white !important;
}

.dashboard {
    display: flex;
    gap: 20px;
    padding: 20px;
}

@media (max-width: 600px) {
    .dashboard {
        flex-direction: column;
    }
}
