.administrador-page {
    background-color: white !important;
    min-height: 200vh;
}


.dashboard {
    display: flex;
    gap: 20px;
    padding: 20px;
}

@media (max-width: 600px) {
    .dashboard {
        flex-direction: column;
    }
}