.table-container {
    overflow-x: auto; /* Permite rolagem horizontal */
    padding: 20px;
    box-sizing: border-box;
}

.add-button {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #54a3f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: #54a3f0;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Ajuste dinâmico das larguras das colunas */
}

.custom-table th,
.custom-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    word-break: break-word; /* Evita a sobreposição, quebrando palavras longas */
    white-space: normal; /* Permite a quebra automática de linha */
}

.custom-table th {
    background-color: #f4f4f4;
    min-width: 120px; /* Largura mínima para evitar compressão extrema */
}

.custom-table td {
    min-width: 120px; /* Largura mínima para cada célula */
}

.actions {
    text-align: center;
}

.icon {
    cursor: pointer;
    margin: 0 5px;
    transition: color 0.3s ease;
    color: #54a3f0;
}

.edit-icon {
    color: #4caf50 !important;
}

.delete-icon {
    color: #f44336 !important;
}

/* Melhorando a responsividade */
@media (max-width: 768px) {
    .custom-table {
        display: block;
        width: 100%;
        border: none;
    }

    .custom-table thead {
        display: none;
    }

    .custom-table tbody,
    .custom-table tr {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .custom-table td {
        display: flex;
        justify-content: space-between; /* Isso garante que o rótulo fique à esquerda e o conteúdo à direita */
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        position: relative;
        border-bottom: none;
        word-break: break-word; /* Quebra o texto longo em linhas menores */
        white-space: normal; /* Garante que as palavras quebrem corretamente */
        min-height: 50px; /* Garante uma altura mínima */
    }

    .custom-table td::before {
        content: attr(data-label);
        font-weight: bold;
        flex: 1;
        margin-right: 10px; /* Espaço entre o rótulo e o conteúdo */
        text-align: left; /* Alinha o rótulo à esquerda */
    }

    .custom-table td span {
        flex: 2;
        text-align: right; /* Garante que o conteúdo fique à direita */
    }

    .actions {
        text-align: right;
    }
}

@media (max-width: 480px) {
    .custom-table td {
        flex-direction: row; /* Garante que as informações fiquem em uma linha horizontal */
        align-items: center;
    }

    .custom-table td::before {
        margin-bottom: 5px; /* Espaço entre o rótulo e o valor */
    }
}
