.swal2-popup {
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 15px;
  width: 80vw;
  max-width: 500px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  z-index: 9999;
}

.swal2-title {
  color: #d65563;
  font-size: 1.2em;
  font-weight: bold;
}

.swal2-html-container {
  color: #666;
  font-size: 1em;
}

.swal2-timer-progress-bar {
  height: 4px;
  background-color: #007bff;
  border-radius: 5px;
}

.swal2-confirm {
  background-color: #d65563;
  border-color: #d65563;
  color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 13px;
}

.swal2-confirm:hover {
  background-color: #b9464f;
  border-color: #b9464f;
}

.swal2-container {
  z-index: 9999;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swal2-backdrop {
  background: transparent;
}

.swal2-backdrop-show,
.swal2-noanimation {
  background: transparent !important;
  animation: none;
}

@media (max-width: 768px) {
  .swal2-container{
    padding-right: 130px;
  }
}