body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  padding-top: 50px;
}

.sc-aXZVg.kuzLNx.human-body {
  margin-top: 120px;
  margin-bottom: 20px;
}

.table-container {
  margin-top: 20px;
  width: 90%;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  padding: 10px; 
  border: 1px solid #ccc; 
  text-align: left;
}

.table-container th {
  background-color: #f2f2f2; 
}

/* Responsividade */
@media (max-width: 768px) {
  .app-container {
    padding-top: 400px;
  }

  .sc-aXZVg.kuzLNx.human-body {
    margin-top: 120px;
  }

  .table-container {
    margin-top: 20px; 
    width: 95%;
  }
}
