.anuncio-container {
  display: flex;
  align-items: center;
  padding: 20px;
  border: none;
  background-color: transparent;
  gap: 20px;
}

.anuncio-texto {
  flex: 1;
  padding-right: 20px;
}

.anuncio-texto h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.anuncio-texto p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
}

.anuncio-foto {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anuncio-foto img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.foto1 {
  width: 500px;
}