.avaliacoes-container {
    width: 90%;
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.avaliacoes-title {
    font-size: 2.2em;
    color: #6854f0;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.avaliacoes-description {
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.avaliacao-card {
    padding: 20px;
    border-radius: 8px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.avaliacao-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avaliacao-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.avaliacao-patient-details {
    display: flex;
    flex-direction: column;
}

.avaliacao-patient-name {
    font-weight: bold;
    font-size: 1.2em;
    color: #000000;
}

.avaliacao-doctor-name {
    font-size: 0.95em;
    color: #000000;
}

.avaliacao-rating-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.avaliacao-rating {
    color: transparent;
    font-size: 1em;
    margin-bottom: 5px;
    position: relative;
}

.avaliacao-star-icon {
    position: relative;
    font-size: 1em;
    color: #f39c12;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.avaliacao-star-icon.empty {
    color: transparent;
    border: 1px solid #f39c12;
    border-radius: 2px;
}

.avaliacao-comment {
    font-size: 1em;
    color: #000000;
    font-style: italic;
    margin-top: 5px;
}

.slick-dots {
    position: static !important;
}


/* Responsividade */
@media (max-width: 768px) {
    .avaliacoes-container {
        width: 95%;
        padding: 15px;
    }

    .avaliacoes-title {
        font-size: 1.8em;
    }

    .avaliacao-patient-name {
        font-size: 1.1em;
    }

    .avaliacao-doctor-name {
        font-size: 0.9em;
    }

    .avaliacao-rating {
        font-size: 1em;
    }

    .avaliacao-comment {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .avaliacao-photo {
        width: 60px;
        height: 60px;
    }

    .avaliacao-patient-name {
        font-size: 1em;
    }

    .avaliacao-doctor-name {
        font-size: 0.8em;
    }
}