.avatar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    position: relative;
}

.avatar-switch {
    margin-left: 20px;
}

.avatar-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.avatar-slider {
    position: relative;
    cursor: pointer;
    width: 34px;
    height: 20px;
    background-color: #ffffff;
    transition: .4s;
    border-radius: 20px;
    display: inline-block;
}

.avatar-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 2px;
    bottom: 2px;
    background-color: rgb(255, 255, 255);
    transition: .4s;
}

.avatar-switch input:checked + .avatar-slider {
    background-color: #2196F3;
}

.avatar-switch input:checked + .avatar-slider:before {
    transform: translateX(14px);
}

.avatar-right-items {
    display: flex;
    align-items: center;
}

.avatar-icons {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.avatar-icon {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
    color: #54a3f0;
}

.avatar-avatar {
    display: flex;
    align-items: center;
}

.avatar-avatar img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 1px solid #333 !important;
}

.avatar-notification-icon {
    position: relative;
    display: inline-block;
}

.avatar-notification-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
}

.avatar-dropdown {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.avatar-dropdown p {
    margin: 5px 0;
}

.avatar-qr-code {
    position: absolute;
    top: 50px; /* Ajuste a posição conforme necessário */
    right: 0; /* Ajuste a posição conforme necessário */
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
    .avatar-container {
        flex-direction: column; /* Altera a direção para coluna em telas menores */
        align-items: flex-end;
    }

    .avatar-icons {
        margin-bottom: 10px; /* Espaço entre os ícones e o avatar */
    }

    .avatar-avatar img {
        width: 40px; /* Ajusta o tamanho da imagem do avatar */
        height: 40px;
    }
}
