.BannerHome-section {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .BannerHome-background {
    width: 100%;
    height: auto;
    object-fit: cover; 
  }
  
  @media screen and (max-width: 768px) {
    .BannerHome-background {
      object-position: center; 
    }
  }
  