.BannerServiço {
  position: relative;
}

.BannerServiço__imagem {
  display: flex;
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  align-items: center;
  height: 100vh;
  color: white;
  position: relative;
  overflow: hidden;
}

.BannerServiço__imagem-background {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.BannerServiço__imagem-content {
  position: relative;
  z-index: 1;
  padding: 50px;
  max-width: 50%; /* Ajuste a largura conforme necessário */
  text-align: left; /* Alinhamento à esquerda do texto */
  text-align: justify ;
}

.BannerServiço__title {
  font-size: 48px;
  margin-bottom: 10px; /* Ajustado para menor espaço */
  text-align: left; /* Alinhamento à esquerda do título */
}

.BannerServiço__description {
  font-size: 20px;
  margin-top: 10px; /* Espaçamento acima da descrição */
  margin-bottom: 20px; /* Espaçamento abaixo da descrição */
  text-align: justify; /* Alinhamento justificado */
  line-height: 1.5; /* Aumenta a altura da linha para melhor legibilidade */
}

.BannerServiço__info-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 80%;
  margin: 40px auto 0;
}

.BannerServiço__info-card {
  flex: 1 1 20%;
  margin: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.BannerServiço__card-icon {
  font-size: 2.5rem;
  margin-bottom: 28px;
  color: #54a3f0;
}
.BannerServiço__card-title {
  font-size: 1.25rem; /* Tamanho da fonte */
  height: 50px; /* Altura fixa para garantir que todos os títulos ocupem o mesmo espaço */
  display: flex;
  align-items: center; /* Centraliza o texto verticalmente */
  justify-content: center; /* Centraliza o texto horizontalmente, se necessário */
  margin-bottom: 10px; /* Espaçamento abaixo do título */
  color: #54a3f0; /* Cor do texto */
  font-weight: bold; /* Negrito para destaque */
}


.BannerServiço__hours, 
.BannerServiço__emergency-contact {
  font-size: 0.9rem;
  margin: 0;

}

/* responsividade */
@media (max-width: 1024px) {
  .BannerServiço__imagem-content {
    max-width: 70%;
    margin-left: 10%; /* Ajuste para 10% para telas menores */
    text-align: left; /* Mantém o alinhamento à esquerda */
  }

  .BannerServiço__title {
    font-size: 2.5rem;
    text-align: left; /* Alinhamento à esquerda do título */
  }

  .BannerServiço__description {
    font-size: 1.1rem;
    text-align: justify; /* Mantém o alinhamento justificado */
  }
}

@media (max-width: 768px) {
  .BannerServiço__imagem {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .BannerServiço__imagem-content {
    max-width: 90%; /* Aumenta a largura máxima em telas menores */
    padding: 20px;
    margin: 0 auto;
    text-align: left; /* Mantém o alinhamento à esquerda */
  }

  .BannerServiço__info-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px; /* Espaçamento adicional */
  }

  .BannerServiço__info-card {
    width: 90%;
    margin: 15px 0; /* Ajusta o espaçamento vertical */
    padding: 15px; /* Reduz o padding */
  }

  .BannerServiço__title {
    font-size: 2rem;
    text-align: left; /* Alinhamento à esquerda do título */
  }

  .BannerServiço__description {
    font-size: 1rem;
    line-height: 1.4;
    text-align: justify; /* Mantém o alinhamento justificado */
  }
}

@media (max-width: 480px) {
  .BannerServiço__imagem-content {
    padding: 10px;
  }

  .BannerServiço__title {
    font-size: 1.8rem;
    text-align: left; /* Alinhamento à esquerda do título */
  }

  .BannerServiço__description {
    font-size: 0.9rem;
    line-height: 1.3;
    text-align: justify; /* Mantém o alinhamento justificado */
  }

  .BannerServiço__info-card {
    width: 95%;
    margin: 10px 0;
  }
}
