
.bannerbeneficio-container {
    width: 100%; 
    margin: 0; 
    padding: 0;
    overflow: hidden; 
  }
  
  .bannerbeneficio-image {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    display: block; 
    margin: 0; 
    padding: 0; 
  }
  

  @media (max-width: 768px) {
    .bannerbeneficio-container {
      overflow: hidden; 
    }
  
    .bannerbeneficio-image {
      object-fit: cover; 
    }
  }
  
  @media (max-width: 480px) {
    .bannerbeneficio-container {
      height: auto; 
    }
  
    .bannerbeneficio-image {
      width: 100%;
      height: auto; 
    }
  }
  