
.BannerHome-section {
    display: flex;
    flex-direction: row; /* Itens lado a lado em telas maiores */
    justify-content: space-between;
    align-items: center; /* Alinhamento central */
    position: relative; /* Para posicionar a imagem de fundo corretamente */
    padding: 40px; /* Espaçamento interno */
    border-radius: 8px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto */
    height: 100vh; /* Ocupa 100% da altura da tela */
    overflow: hidden; /* Evita que elementos sejam cortados */
}

.BannerHome-background {
    position: absolute; /* Permite que a imagem fique como fundo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

.BannerHome-content {
    max-width: 45%; /* Largura máxima do conteúdo */
    flex: 1; /* Permite que o conteúdo ocupe o espaço disponível */
    z-index: 1; /* Garante que o conteúdo fique acima da imagem */
}

.BannerHome-title {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

.BannerHome-description {
    font-size: 20px;
    margin-bottom: 30px; /* Espaçamento abaixo da descrição */
    text-align: justify; /* Alinhamento justificado */
}

.BannerHome-button {
    background-color: #54a3f0; /* Cor azul para o botão */
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) { /* Para tablets e telas menores */
    .BannerHome-section {
        flex-direction: column; /* Muda para coluna em telas menores */
        padding: 20px; /* Reduz o espaçamento interno */
        height: auto; /* Ajusta a altura para auto */
    }

    .BannerHome-content {
        max-width: 100%; /* Altera a largura máxima */
        text-align: center; /* Centraliza o texto */
    }

    .BannerHome-title {
        font-size: 36px; /* Reduz o tamanho da fonte */
    }

    .BannerHome-description {
        font-size: 14px; /* Reduz o tamanho da fonte */
    }

    .BannerHome-button {
        padding: 10px 20px; /* Ajusta o padding do botão */
        font-size: 14px; /* Reduz o tamanho da fonte do botão */
    }
}

@media (max-width: 480px) { /* Para smartphones */
    .BannerHome-title {
        font-size: 28px; /* Reduz ainda mais o tamanho da fonte */
    }

    .BannerHome-description {
        font-size: 12px; /* Reduz o tamanho da fonte */
    }
}
