
.banner-cliente-section {
    position: relative;
    height: 600px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.banner-cliente-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
}

.banner-cliente-content-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0 5vw;
    position: relative;
    z-index: 2;
}

.banner-cliente-content {
    color: white;
    max-width: 50%;
}

.titulo-BannerCliente {
    font-size: 48px;
    margin-bottom: 1rem;
}

.subtitulo-BannerCliente {
    font-size: 20px;
    color: #f8f9fa;
    margin-top: 1rem;
    line-height: 1.4;

}

.cards-bannercliente-container {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.info-card-bannercliente {
    background-color: #fff;
    padding: 15px; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 280px;
    width: 129%;
    height: 230px; 
}

.titulo-card-BannerCliente {
    margin-top: 5px; 
    font-weight: 600;
    color: #54a3f0;
    font-size: 1.2rem;
    margin-bottom: 5px; 
}

.descricao-card-BannerCliente {
    font-size: 0.9rem;
    color: black;
    text-align: justify;
    flex-grow: 1; 
}

.bannerCliente-icon {
    font-size: 2rem; 
    margin-bottom: 10px; 
}

.clock-icon,
.person-icon,
.heart-icon,
.hospital-icon {
    color: #54a3f0;
}


@media (max-width: 1024px) {
    .banner-cliente-section {
        height: 450px; 
    }

    .banner-cliente-content {
        max-width: 60%;
    }

    .titulo-BannerCliente {
        font-size: 6vw;
    }

    .subtitulo-BannerCliente {
        font-size: 1.5vw;
    }

    .cards-bannercliente-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 1rem;
        justify-content: center;
        height: 100%; 
    }
}

@media (max-width: 768px) {
    .banner-cliente-section {
        height: 350px;
    }

    .banner-cliente-content {
        max-width: 80%;
    }

    .titulo-BannerCliente {
        font-size: 7vw;
    }

    .subtitulo-BannerCliente {
        font-size: 3vw;
    }

    .cards-bannercliente-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        gap: 1rem;
        height: 100%; 
    }

    .bannerCliente-icon {
        font-size: 2rem; 
    }
}

@media (max-width: 480px) {
    .banner-cliente-section {
        height: 250px;
    }

    .banner-cliente-content {
        max-width: 90%;
    }

    .titulo-BannerCliente {
        font-size: 8vw;
    }

    .subtitulo-BannerCliente {
        font-size: 4vw;
    }

    .cards-bannercliente-container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        gap: 1rem;
        height: 100%; 
    }

    .bannerCliente-icon {
        font-size: 1.5rem; 
    }
}
