.BannerServiço {
  position: relative;
}

.BannerServiço__imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  position: relative;
  overflow: hidden;
}

.BannerServiço__imagem-background {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  top: 0;
  left: 0;
  z-index: 0;
}

.BannerServiço__info-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 80%;
  margin: 40px auto 0;
  z-index: 1;
}

.BannerServiço__info-card {
  flex: 1 1 20%;
  margin: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.BannerServiço__info-card:hover {
  transform: translateY(-5px);
}

.BannerServiço__card-icon {
  font-size: 2.5rem;
  margin-bottom: 28px;
  color: #54a3f0;
}

.BannerServiço__card-title {
  font-size: 1.25rem;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  color: #54a3f0;
  font-weight: bold;
}

.BannerServiço__hours, 
.BannerServiço__emergency-contact {
  font-size: 0.9rem;
  margin: 0;
}



@media (max-width: 1024px) {
  .BannerServiço__imagem {
    height: 60vh; 
  }

  .BannerServiço__info-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .BannerServiço__info-card {
    width: 90%;
    margin: 15px 0;
    padding: 15px;
  }

  .BannerServiço__card-title {
    font-size: 1.5rem;
  }

  .BannerServiço__hours {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .BannerServiço__imagem {
    flex-direction: column;
    height: auto;
    justify-content: center;
  }

  .BannerServiço__info-section {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .BannerServiço__info-card {
    width: 90%;
    margin: 15px 0;
    padding: 15px;
  }

  .BannerServiço__card-title {
    font-size: 1.25rem;
    text-align: center;
  }

  .BannerServiço__hours {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .BannerServiço__imagem-background {
    width: 100%;
    height: 100%;
  }

  .BannerServiço__info-section {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .BannerServiço__info-card {
    width: 95%;
    margin: 10px 0;
  }

  .BannerServiço__card-title {
    font-size: 1rem;
  }

  .BannerServiço__hours {
    font-size: 0.9rem;
  }
}
