.beneficio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.beneficio-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; 
}

.beneficio-card:hover {
    transform: scale(1.05);
}

.beneficio-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.beneficio-description {
    font-size: 1em;
    color: #666;
}

/* Responsividade */
@media (max-width: 768px) {
    .beneficio-card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .beneficio-card {
        width: 100%;
    }

    .beneficio-title {
        font-size: 1.3em;
    }

    .beneficio-description {
        font-size: 0.9em;
    }
}
