.button-tudo{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left-buttons,
.right-buttons {
    display: flex;
    align-items: center;
}

.left-buttons {
    flex: 1;
}

.right-buttons {
    flex: 1;
    justify-content: flex-end;
}

.border-left,
.icon-button {
    background: #54a3f0;
    color: black;
    border: 1px solid #ccc;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    min-width: 120px;
    text-align: center;
}

.border-left:hover,
.icon-button:hover {
    background-color: #54a3f0;
    border-color: #ccc;
}

/* Responsividade */
@media (max-width: 768px) {
    .button-group {
        flex-direction: column;
        align-items: stretch;
    }

    .left-buttons,
    .right-buttons {
        width: 100%;
        margin-bottom: 10px;
    }

    .left-buttons {
        flex-direction: column;
    }

    .right-buttons {
        flex-direction: column;
    }

    .border-left,
    .icon-button {
        width: 100%;
        font-size: 0.9rem;
        padding: 12px 15px;
    }
}

@media (max-width: 480px) {

    .border-left,
    .icon-button {
        font-size: 0.8rem;
        padding: 10px 12px;
    }
}