.date-header-CDExames {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.date-header-CDExames h3 {
    margin-bottom: 20px;
    color: #6a82fb;
    font-size: 18px;
    font-weight: bold;
}

.day-buttons-CDExames {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.day-buttons-CDExames button {
    background-color: #e9eff7;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    font-size: 14px;
    min-width: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day-buttons-CDExames button div:first-child {
    font-size: 16px;
    font-weight: bold;
}

.day-buttons-CDExames button div:last-child {
    font-size: 12px;
    color: #555;
}

.day-buttons-CDExames button:hover {
    background-color: #dce4f7;
}

.day-buttons-CDExames button.selected-day {
    background-color: #6a82fb;
    color: white;
    border-color: #6a82fb;
    font-weight: bold;
}

/* Responsividade para dispositivos menores */
@media (max-width: 768px) {
    .date-header-CDExames h3 {
        font-size: 16px;
    }
    
    .day-buttons-CDExames{
        gap: 3px;
    }
}