/* Estilo geral do cabeçalho */
.date-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    max-width: 725px;
}

/* Título do Mês */
.date-header h3 {
    margin-bottom: 10px;
    color: #6a82fb; /* Roxo azulado */
}

/* Navegação da semana */
.week-navigation {
    display: flex;
    align-items: center;
}

/* Estilo dos botões de navegação (setas) */
.week-navigation button {
    background-color: #6a82fb; /* Roxo azulado */
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

.week-navigation button:hover {
    background-color: #5145cd; /* Roxo mais escuro */
}

.week-navigation button:focus {
    outline: none;
    box-shadow: 0 0 8px rgba(106, 130, 251, 0.5);
}

/* Estilo dos botões dos dias */
.day-buttons {
    display: flex;
    gap: 5px;
}

.day-buttons button {
    background-color: #e9eff7; /* Azul claro */
    color: #333;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    font-size: 14px;
    min-width: 50px;
}

.day-buttons button:hover {
    background-color: #dce4f7; /* Azul um pouco mais escuro */
}

.day-buttons button.selected-day {
    background-color: #6a82fb; /* Roxo azulado */
    color: white;
    border-color: #6a82fb;
    font-weight: bold;
}

/* Estilo para os ícones de edição e exclusão */
.appointment-options {
    display: flex;
    justify-content: flex-end;
}

.edit-symbol,
.delete-symbol {
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
    color: #9b59b6; /* Roxo suave */
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 3px 6px;
    border-radius: 5px;
}

.edit-symbol:hover {
    background-color: #28a745;
    color: white;
}

.delete-symbol:hover {
    background-color: #dc3545;
    color: white;
}

/* Container do Appointment */
.appointment-container {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 100%;
}

.appointment-container:hover {
    transform: scale(1.02);
    background-color: #f9f9f9;
}

/* Estilo da Hora */
.appointment-datetime {
    font-size: 16px;
    color: #6a82fb;
    font-weight: 700;
    margin-right: 20px;
    min-width: 80px;
    text-align: left;
    position: relative;
}

.appointment-datetime::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 2px;
    height: 50%;
    background-color: #6a82fb;
    transform: translateY(-50%);
}

/* Estilo do Card de Exame */
.appointment-card {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
}

.appointment-card:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.appointment-card h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    color: #333;
}

.appointment-card p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

/* Layout Geral */
.appointments {
    padding: 20px;
    background-color: #f0f4f8; /* Fundo azul claro */
    border-radius: 20px;
}

.appointments h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
    font-weight: bold;
}


/* Estilo para o título sem consultas */
.appointments p {
    font-size: 16px;
    color: #666;
}
/* Estilo do símbolo de edição e exclusão */

.edit-symbol,
.delete-symbol {
    font-size: 18px;
    cursor: pointer;
    margin-left: 15px;
    padding: 5px 10px; /* Adiciona preenchimento para torná-los parecidos com botões */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    color: #fff; /* Cor do texto em branco */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transição suave */
    margin-top: -10px;
}

/* Estilo para o botão de edição */
.edit-symbol {
    background-color: #28a745; /* Verde para o botão de editar */
}

.edit-symbol:hover {
    background-color: #218838; /* Verde mais escuro ao passar o mouse */
    transform: translateY(-2px); /* Eleva levemente o botão ao passar o mouse */
}

/* Estilo para o botão de exclusão */
.delete-symbol {
    background-color: #dc3545; /* Vermelho para o botão de excluir */
}

.delete-symbol:hover {
    background-color: #c82333; /* Vermelho mais escuro ao passar o mouse */
    transform: translateY(-2px); /* Eleva levemente o botão ao passar o mouse */
}


/* Estilo para o grupo de botões */
.button-group {
    display: flex;
    /* Flexbox para os botões */
    justify-content: space-between;
    /* Espaçamento entre os botões */
    margin-top: 10px;
    /* Margem superior para o grupo de botões */
}

.button-group button {
    font-size: 12px;
    /* Tamanho da fonte dos botões reduzido */
    padding: 5px 8px;
    /* Preenchimento interno reduzido para os botões */
}

.custom-modal {
    position: absolute;
    top: 45%;
    /* Desce o modal 40% da altura da tela */
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -40%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    /* ou ajuste conforme necessário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    /* Fundo escurecido */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}