.date-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
    width: 90%;
    max-width: 800px;
    background: #ffffff;
}

.date-header h3 {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.day-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden; 
}

/* Estilo padrão para os dias */
.day,
.selected-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px; /* Diminui o padding para ajuste */
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem; /* Ajusta o tamanho da fonte */
    width: 60px; /* Largura ajustada */
    height: 60px; /* Altura ajustada */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    color: #000;
    font-weight: 700;
    background: linear-gradient(135deg, #54a3f0, #54a3f0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Efeito ao passar o mouse */
.day:hover {
    background: linear-gradient(135deg, #54a3f0, #54a3f0);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Estilo do dia selecionado */
.selected-day {
    background: linear-gradient(135deg, #54a3f0, #54a3f0);
    color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
}

/* Efeito ao passar o mouse sobre o dia selecionado */
.selected-day:hover {
    transform: scale(1.1);
}

/* Animações de clique */
.day:active,
.selected-day:active {
    transform: scale(0.95);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

/* Estilo para dias ocultos */
.hidden {
    display: none;
}

/* Melhorias responsivas */
@media (max-width: 600px) {
    .day,
    .selected-day {
        width: 50px; /* Largura reduzida para caber na tela */
        height: 50px;
        font-size: 0.9rem; /* Tamanho da fonte reduzido */
    }
}
