.diagnose-container-cirugia-cliente {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #1f3c47;
    background-image: url('../Imagens/fundo.png');
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-radius: 0;
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0;
}

.overlay-cirurgia-cliente {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(84, 114, 240, 0.7);
    z-index: 1;
    border-radius: 0;
}

.image-cirugia-cliente {
    position: relative;
    width: 450px;
    height: auto;
    margin-right: 40px;
    z-index: 2;
}

.diagnose-image-cirugia-cliente {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.text-cirugia-cliente {
    text-align: left;
    color: #ffffff;
    max-width: 60%;
    z-index: 2;
    position: relative;
    margin-left: 40px;
}

.title-cirurgia-cliente {
    font-size: 32px;
    font-weight: bold;
}

.subtitle-cirurgia-cliente {
    font-size: 20px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 15px;
}

.description-cirurgia-cliente {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: left;
}

.read-more-btn-cirugia-cliente {
    background-color: #ffffff;
    color: #1f3c47;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.read-more-btn-cirugia-cliente:hover {
    background-color: #0d292e;
    color: #ffffff;
}

/* Responsividade */
@media (max-width: 768px) {
    .diagnose-container-cirugia-cliente {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .image-cirugia-cliente {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .text-cirugia-cliente {
        max-width: 100%;
        margin-left: 0;
    }

    .title-cirurgia-cliente {
        font-size: 28px;
    }

    .subtitle-cirurgia-cliente {
        font-size: 18px;
    }

    .description-cirurgia-cliente {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .title-cirurgia-cliente {
        font-size: 24px;
    }

    .subtitle-cirurgia-cliente {
        font-size: 16px;
    }

    .description-cirurgia-cliente {
        font-size: 12px;
    }
}