.cirurgiabeneficio-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding: 40px;
  margin-top: 260px;
}

.cirurgiabeneficio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6854f0;
  opacity: 0.7;
  z-index: 1;
}

.cirurgiabeneficio-text {
  flex: 1;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.cirurgiabeneficio-main-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  color: white;
  text-align: center;
}

.cirurgiabeneficio-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

.cirurgiabeneficio-features {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.cirurgiabeneficio-feature {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  flex-basis: 45%;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.cirurgiabeneficio-feature-icon {
  font-size: 36px;
  margin-right: 10px;
  color: white;
}

.cirurgiabeneficio-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cirurgiabeneficio-description-text {
  font-size: 14px;
}

.cirurgiabeneficio-eye-care-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cirurgiabeneficio-eye-care-image img {
  width: 80%;
  border-radius: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .cirurgiabeneficio-container {
    flex-direction: column;
    padding: 20px;
    margin-top: 100px;
  }

  .cirurgiabeneficio-features {
    flex-direction: column;
    gap: 10px;
  }

  .cirurgiabeneficio-feature {
    flex-basis: 100%;
  }

  .cirurgiabeneficio-eye-care-image img {
    width: 100%;
  }

  .cirurgiabeneficio-main-title {
    font-size: 28px;
  }

  .cirurgiabeneficio-description {
    font-size: 14px;
  }
}