@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.comparativo-beneficios {
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
    border: 1px solid #d1d1d1;
}

.comparativo-beneficios h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #6854f0;
    font-weight: 700;
}

.beneficios-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th,
td {
    padding: 15px;
    text-align: left;
    border: 1px solid #e2e2e2;
    word-wrap: break-word;
}

th {
    background-color: #f0f4f8;
    color: #5472f0;
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

td {
    background-color: #ffffff;
    color: #000000;
}

td:hover {
    background-color: #f8f9fa;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.beneficio-item {
    color: #000000;
    margin: 5px 0;
    position: relative;
    padding-left: 1.5em;
    font-size: 16px;
}

.beneficio-item:before {
    content: '✔';
    position: absolute;
    left: 0;
    color: #5472f0;
    font-size: 18px;
}

@media (max-width: 1024px) {
    .beneficios-table {
        width: 100%;
        overflow-x: auto;
    }

    th,
    td {
        padding: 12px;
        font-size: 16px;
    }

    th {
        font-size: 16px;
    }

    td {
        font-size: 16px;
    }

    .hospital-column {
        width: 30%;
    }

    .salario-column {
        width: 25%;
    }

    .beneficios-column {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .comparativo-beneficios {
        padding: 20px;
    }

    .beneficios-table {
        width: 100%;
        overflow-x: auto;
    }

    th,
    td {
        padding: 10px;
        font-size: 14px;
    }

    .hospital-column,
    .salario-column,
    .beneficios-column {
        width: auto;
        display: block;
        text-align: left;
    }

    .hospital-column {
        margin-bottom: 10px;
    }

    .salario-column {
        margin-bottom: 10px;
    }

    .beneficios-column {
        margin-bottom: 10px;
    }

    .beneficio-item {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .comparativo-beneficios {
        padding: 15px;
    }

    .comparativo-beneficios h2 {
        font-size: 22px;
    }

    th,
    td {
        padding: 10px;
        font-size: 12px;
    }

    th {
        font-size: 14px;
    }

    td {
        font-size: 12px;
    }

    .hospital-column,
    .salario-column,
    .beneficios-column {
        width: auto;
        display: block;
        text-align: left;
    }

    .hospital-column,
    .salario-column {
        margin-bottom: 10px;
    }

    .beneficios-column {
        margin-bottom: 10px;
    }

    .beneficio-item {
        font-size: 12px;
    }
}