.contato-tudo {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.orange {
  color: #5472f0;
}

.contato-form-container {
  max-width: 700px;
  margin: 30px;
  background-color: black;
  padding: 30px;
  border-left: 5px solid #6854f0;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
}

.contato-heading {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 20px;
}

.contato-form-container .contato-form .contato-input {
  color:black;
  width: 100%;
  background-color: #81b9f0;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.contato-form-container .contato-form .contato-input:focus {
  border-left: 5px solid #6854f0;
}

.contato-form-container .contato-form .contato-textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #81b9f0;
  color: black;
  font-weight: bold;
  resize: none;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.contato-form-container .contato-form .contato-textarea:focus {
  border-left: 5px solid #6854f0;
}

.contato-form-container .contato-form .contato-button-container {
  display: flex;
  gap: 10px;
}

.contato-form-container .contato-form .contato-button-container .contato-send-button {
  flex-basis: 70%;
  background: #6854f0;
  padding: 10px;
  color: black;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.contato-form-container .contato-form .contato-button-container .contato-send-button:hover {
  background: transparent;
  border: 1px solid #6854f0;
  color: #6854f0;
}

.contato-form-container .contato-form .contato-button-container .contato-reset-button-container {
  filter: drop-shadow(1px 1px 0px);
  flex-basis: 30%;
}

.contato-form-container .contato-form .contato-button-container .contato-reset-button-container .contato-reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: black;
  font-weight: bold;
  background: #6854f0;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
  transition: all 0.2s ease-in-out;
}

.contato-form-container .contato-form .contato-button-container .contato-reset-button-container .contato-reset-button:hover {
  background: black;
  color: #6854f0;
}