.online-learning-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250px;
  flex-direction: row;
  margin-top: -130px;
}

.online-learning-people-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 400px;
  height: auto;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
}

.online-learning-person {
  width: 100%;
  height: auto;
  border-radius: 25px;
}

.online-learning-info-list {
  width: 50%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
}

.online-learning-info-title {
  font-size: 24px;
  font-weight: bold;
  color: #6854f0;
  margin-bottom: 15px;
}

.online-learning-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.online-learning-info-text {
  font-size: 16px;
  color: #333;
  margin-left: 15px;
}

.online-learning-icon {
  font-size: 50px;
  color: #54a3f0;
  padding: 10px;
}

/* Responsividade */
@media (max-width: 1200px) {
  .online-learning-section {
    padding: 150px 20px;
    flex-direction: column;
  }

  .online-learning-info-list {
    width: 60%;
    margin-left: 0;
    margin-top: 20px;
  }

  .online-learning-people-grid {
    width: 80%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .online-learning-section {
    padding: 100px 15px;
    flex-direction: column;
  }

  .online-learning-people-grid {
    width: 90%;
    height: auto;
  }

  .online-learning-info-list {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }

  .online-learning-info-title {
    font-size: 20px;
  }

  .online-learning-info-text {
    font-size: 14px;
  }

  .online-learning-icon {
    font-size: 40px;
  }
}

@media (max-width: 480px) {
  .online-learning-section {
    padding: 171px 10px;
  }

  .online-learning-info-title {
    font-size: 18px;
  }

  .online-learning-info-text {
    font-size: 12px;
  }

  .online-learning-icon {
    font-size: 30px;
  }
}
