.DuvidaBeneficio.faq-container-perguntas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-top: -50px;
}

.DuvidaBeneficio.faq-left {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.DuvidaBeneficio.faq-right {
  flex: 2;
}

.DuvidaBeneficio {
  font-family: Arial, sans-serif;
  color: #333;
}

.DuvidaBeneficio.faq-left div {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5; 
}

.DuvidaBeneficio.faq-title {
  font-size: 24px;
  font-weight: bold; 
  margin-bottom: 20px; 
  color: #6854f0;
}

.DuvidaBeneficio.faq-image {
  width: 94%; 
  max-width: 388px; 
  height: auto;
  margin-bottom: 21px; 
}

.DuvidaBeneficio.faq-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start; 
}

.DuvidaBeneficio.faq-button:hover {
  background-color: #0056b3;
}

.DuvidaBeneficio.faq-item {
  background-color: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
}

.DuvidaBeneficio.faq-item.active {
  background-color: white;
  border-color: #54a3f0;
}

.DuvidaBeneficio.faq-question {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  cursor: pointer;
}

.DuvidaBeneficio.faq-answer {
  padding: 10px;
  background-color: #f1f9ff;
  border-radius: 5px;
  margin-top: 10px;
}

.DuvidaBeneficio.faq-icon {
  font-size: 18px;
  margin-left: 10px;
  color: #54a3f0;
}

@media (max-width: 768px) {
  .DuvidaBeneficio.faq-container-perguntas {
    flex-direction: column;
  }

  .DuvidaBeneficio.faq-left {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .DuvidaBeneficio.faq-right {
    flex: none;
  }

  .DuvidaBeneficio.faq-question {
    font-size: 16px;
  }

  .DuvidaBeneficio.faq-button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .DuvidaBeneficio.faq-left div {
    font-size: 16px;
  }

  .DuvidaBeneficio.faq-button {
    font-size: 16px;
    padding: 12px;
  }

  .DuvidaBeneficio.faq-item {
    padding: 10px;
  }

  .DuvidaBeneficio.faq-icon {
    font-size: 16px;
  }
}
