.page-background {
    background: linear-gradient(90deg, #54a3f0, #54D4F0); 
  }
  
  .layout-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px; 
    margin: 0 auto;
    background-color: transparent;
    border-radius: 8px;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .phrase-container {
    flex: 1.2; 
    text-align: left;
    margin-right: 20px; 
    margin-top: 20px; 
  }
  
  .phrase-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: black;
  }
  
  .phrase-container h6 {
    font-size: 16px;
    font-weight: normal;
    color: black;
  }
  
  .accordion-background {
    flex: 0.8; 
    padding: 15px;
    background: linear-gradient(90deg, #54a3f0, #54D4F0);
    border-radius: 8px;
  }
  
  .accordion-item {
    border: none;
    margin-bottom: 10px;
  }
  
  .accordion-header {
    font-weight: bold;
    font-size: 18px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 5px;
    padding: 10px;
  }
  
  .accordion-body {
    font-size: 16px;
    color: black;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.8); 
  }
  @media (max-width: 768px) {
    .layout-container {
      flex-direction: column; 
      align-items: stretch; 
    }
  
    .phrase-container {
      margin-right: 0;
      margin-bottom: 20px; 
    }
  
    .accordion-background {
      flex: 1; 
    }
  
    .phrase-container h2 {
      font-size: 20px;
    }
  
    .phrase-container h6 {
      font-size: 14px; 
    }
  
    .accordion-header {
      font-size: 16px; 
    }
  
    .accordion-body {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    .layout-container {
      padding: 10px;
    }
  
    .phrase-container h2 {
      font-size: 18px;
    }
  
    .phrase-container h6 {
      font-size: 12px; 
    }
  
    .accordion-header {
      font-size: 14px; 
    }
  
    .accordion-body {
      font-size: 12px; 
    }
  }
  