.care-delivery-container {
    background-image: url('../Imagens/fundo.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 50px 0; 
    text-align: center; 
    position: relative; 
    margin-top: -130px;
}

.care-delivery-container::before {
    content: '';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(104, 84, 240, 0.7);
    opacity: 0.7; 
    z-index: 1;
}

.care-delivery-container * {
    position: relative; 
    z-index: 2; 
}

.banner-exame-home {
    margin-bottom: 30px; 
}

.subtitle-exame {
    font-size: 22px; 
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-weight: 300; 
}

.main-title-exame {
    font-size: 26px; 
    color: white;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700; 
}

.cards-container-ExameHome {
    display: flex;
    justify-content: center; 
    gap: 30px;
    padding: 20px; 
    flex-wrap: wrap; 
    margin: 0 auto;
    max-width: 1200px; 
}

.card-exame-home {
    background-color: #ffffff; 
    width: 340px; 
    border-radius: 10px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    position: relative; 
    text-align: center; 
    transition: transform 0.3s ease; 
}

.card-exame-home:hover {
    transform: scale(1.05);
}

.card-img-exame {
    width: 100%; 
    height: 220px; 
    object-fit: cover; 
}

.card-text-overlay-exame {
    position: relative; 
    background-color: #ffffff; 
    padding: 20px;
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: -10px; 
}

.card-text-overlay-exame h6 {
    font-size: 18px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 500; 
    color: #6854f0; 
    margin: 10px 0; 
    font-weight: bold;
}

.card-description-exame {
    font-size: 14px;
    color: black; 
    margin: 0; 
    line-height: 1.5;
}