.servicos-container-examebeneficio {
  padding: 20px;
  text-align: center;
}

.titulo-examebeneficio {
  font-size: 32px; /* Tamanho do título */
  font-weight: bold;
  margin-bottom: 20px; /* Espaço abaixo do título */
  color: #6854f0;
}

.descricao-servicos-examebeneficio {
  font-size: 16px; /* Tamanho do texto */
  color: black; /* Cor do texto */
  margin-bottom: 30px; /* Espaço abaixo da descrição */
  max-width: 600px; /* Limitar a largura do texto */
  margin-left: auto; /* Centralizar horizontalmente */
  margin-right: auto; /* Centralizar horizontalmente */
}

.cards-container-examebeneficio {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards quebrem para a próxima linha */
  justify-content: center; /* Centralizar os cards na linha */
  gap: 20px; /* Espaçamento entre os cards */
  margin-bottom: 20px; /* Espaço entre as fileiras de cards */
}

.card-examebeneficio {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%; /* Ajustar a largura para 100% */
  max-width: 500px; /* Largura máxima dos cards */
  height: auto; /* Altura automática */
  display: flex; /* Flex para alinhar a imagem e o texto lado a lado */
  flex-direction: row; /* Manter alinhamento horizontal */
}

.imagem-examebeneficio {
  width: 50%; /* Largura da imagem */
  height: auto; /* Manter a proporção da imagem */
  object-fit: cover; /* Ajustar a imagem */
}

.texto-examebeneficio {
  padding: 15px;
  display: flex;
  flex-direction: column; /* Alinhar título e descrição verticalmente */
  justify-content: center; /* Centralizar o texto verticalmente */
  align-items: center; /* Centralizar o texto horizontalmente */
  text-align: center; /* Centralizar o texto */
  flex-grow: 1; /* Permitir que o texto ocupe o espaço disponível */
}

.titulo-card-examebeneficio {
  font-size: 24px; /* Aumentar o tamanho do título dentro do card */
  font-weight: bold;
  margin: 0 0 5px; /* Ajustar a margem do título */
  color: #6854f0; /* Cor do título */
}

.descricao-examebeneficio {
  font-size: 14px; /* Aumentar o tamanho da descrição */
  color: black; /* Cor da descrição */
  line-height: 1.4; /* Altura da linha para melhor legibilidade */
}

/* Consultas de mídia para responsividade */
@media (max-width: 768px) {
  .cards-container-examebeneficio {
    justify-content: space-between; /* Espaçamento adequado entre os cards em telas médias */
  }
  
  .card-examebeneficio {
    width: 45%; /* Os cards ocuparão 45% da largura em telas médias */
  }
}

@media (max-width: 480px) {
  .card-examebeneficio {
      width: 100%; /* Os cards ocuparão 100% da largura em telas pequenas */
      flex-direction: column; /* Alterar para coluna em telas pequenas */
  }
  
  .imagem-examebeneficio {
      width: 100%; /* A imagem ocupará 100% da largura do card */
  }
}
