.footer {
    background-color: #ffffff;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: #333;
    position: relative;
    padding-top: 50px;
}

.footer::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer h3 {
    color: black;
}

.footer-text {
    color: black;
    margin: 5px 0;
    transition: color 0.3s;
}

.footer-text:hover {
    color: #007bff;
}

.footer-icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.footer-icons a {
    margin: 0 15px;
    transition: color 0.3s;
    font-size: 24px;
}

.footer-icons a.facebook { color: #3b5998; }
.footer-icons a.whatsapp { color: #25D366; }
.footer-icons a.instagram { color: #e4405f; }
.footer-icons a.linkedin { color: #0077b5; }

.footer-icons a:hover {
    color: #007bff;
}

.footer-form input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer-form button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    color: #555;
}

.footer a {
    color: #555;
    text-decoration: none;
}

.footer a:hover {
    color: #000;
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-column {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
        padding: 0px;
    }

    .footer-icons {
        justify-content: center;
    }
}
