body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
}


.app-header-funcionarios {
    padding: 50px;
    background-color: #ffffff;
}

.header-container-funcionarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-message-funcionarios {
    color: #dc3545;
    margin: 10px 0;
    font-weight: bold;
}


.loading-indicator-funcionarios {
    text-align: center;
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.toolbar-funcionarios {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}


.button-custom {
    padding: 12px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}


.toolbar-funcionarios .button-custom:last-child {
    margin-right: 0;
}


.button-custom.filter-btn-funcionarios {
    background-color: #54a3f0;
    color: white;
}


.button-custom.primary.add-doctor-btn-funcionarios {
    background-color: #54a3f0;
    color: white;
}


.button-custom.edit-btn-funcionarios {
    background-color: #54a3f0;
    color: #ffffff;
}


.button-custom.delete-btn-funcionarios {
    background-color: #54a3f0;
    color: white;
}


.button-custom:hover {
    opacity: 0.85;
    transform: translateY(-4px);
}

.funcionario-table-funcionarios {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

.funcionario-table-funcionarios th,
.funcionario-table-funcionarios td {
    padding: 12px 18px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}


.funcionario-table-funcionarios th {
    background-color: #ffffff;
    font-weight: bold;
    color: #333;
}


.status-badge-funcionarios {
    padding: 5px 10px;
    border-radius: 12px;
    color: #fff;
    font-weight: bold;
}


.status-badge-funcionarios.active-funcionarios {
    color: #28a745 !important;

}


.status-badge-funcionarios.inactive-funcionarios {
    color: #dc3545;

}


@media (max-width: 768px) {

    .button-custom.primary.add-doctor-btn-funcionarios {
        margin-top: 20px;
    }

    .funcionario-table-funcionarios {
        overflow-x: auto;
        width: 100%;
    }

    .funcionario-table-funcionarios th {
        display: none;
    }

    .funcionario-table-funcionarios td {
        display: block;
        padding: 10px 15px;
    }

    .funcionario-table-funcionarios tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 5px;
    }

    .funcionario-table-funcionarios td::before {
        content: attr(data-label);
        font-weight: bold;
        text-align: left;
        display: block;
        width: 100%;
        padding-bottom: 5px;
        color: #333;
    }
}