.pagina-funcionarios {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.product-table.funcionario {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {

    .product-table th,
    .product-table td {
        display: block;
        width: 100%;
        padding: 10px;
    }

    .product-table th {
        position: absolute;
        left: -9999px;
    }
}