.post-density-chart-densidade {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 12px;
    width: 48%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.post-density-chart-densidade h3 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
}

.chart-container-densidade {
    position: relative;
}

/* Responsividade */
@media (max-width: 768px) {
    .post-density-chart-densidade {
        width: 100%;
    }
}
