.HomeSemCliente {
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 100%;
    height: auto;
}

.Diagnostico,
.Exame,
.Servicos,
.Pulseira,
.Modelo,
.Unidade,
.Medico {
    width: 80%;
    margin: 20px 0;
}

/* Responsividade */
@media (max-width: 1200px) {

    .Diagnostico,
    .Exame,
    .Servicos,
    .Pulseira,
    .Modelo,
    .Unidade,
    .Medico {
        width: 90%;
    }
}

@media (max-width: 768px) {

    .Diagnostico,
    .Exame,
    .Servicos,
    .Pulseira,
    .Modelo,
    .Unidade,
    .Medico {
        width: 100%;
        margin: 10px 0;
    }

    .banner {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .banner {
        font-size: 1.2em;
    }

    .Diagnostico,
    .Exame,
    .Servicos,
    .Pulseira,
    .Modelo,
    .Unidade,
    .Medico {
        padding: 5px;
    }
}