.Status {
  max-height: 400px;
  max-width: 400px;
  margin-right: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.corpoExemplo {
  height: 300px;
  width: 300px;
}

.Consultas {
  display: flex;
  /* Usa flexbox para organizar os componentes */
  flex-direction: column;
  /* Alinha os itens verticalmente */
  margin-left: 530px;
  margin-top: -270px;
  /* Ajuste conforme a necessidade */
  width: 100%;
  /* Para ocupar toda a largura disponível */
}

.Cliente {
  margin-top: -100px;

}

.Perfil {
  flex: 1;
}

.Elementos-perfil {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Relatorio{
  padding-top: 300px;
  display: flex;
  
}