.popular-iconcliente {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.iconcliente {
  font-size: 32px;
  color: #6854f0;
  margin-bottom: 15px;
  font-weight: bold;
}

.services-iconcliente {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

/* Responsividade */
@media (max-width: 900px) {
  .services-iconcliente {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .services-iconcliente {
    grid-template-columns: 1fr;
  }
}

.iconcliente-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 180px;
  text-align: center;
}

.iconcliente-card.highlighted {
  box-shadow: 0 4px 10px rgba(104, 84, 240, 0.2);
}

.iconcliente-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.clienteicon-iconcliente {
  font-size: 28px;
  color: #4A90E2;
  margin-bottom: 10px;
}

.clienteicon-title-iconcliente {
  font-size: 20px;
  color: #54a3f0;
  font-weight: bold;
  margin-bottom: 5px;
}

.clienteicon-subtitle-iconcliente {
  font-size: 16px;
  color: black;
  margin: 0;
}
