.BeneficioIcons-container {
    text-align: center;
    padding: 260px 20px;
}

.BeneficioIcons-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6854f0 ;
}

.BeneficioIcons-description {
    font-size: 1em;
    color: black;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6em;
}

.BeneficioIcons-services {
    display: grid; /* Usando grid para layout */
    grid-template-columns: repeat(3, 1fr); /* 3 colunas por padrão */
    gap: 30px; /* Espaçamento entre os cards */
    max-width: 1200px;
    margin: 0 auto;
}

.BeneficioIcons-serviceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Alinha os itens ao topo */
    padding: 20px 15px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.BeneficioIcons-serviceItem:hover {
    transform: translateY(-10px);
}

.BeneficioIcon {
    font-size: 2.5em;
    color: #54a3f0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #54a3f0;
    margin-bottom: 10px;
    transition: color 0.3s, background-color 0.3s; /* Suaviza a transição de cor */
}

.BeneficioIcons-serviceItem:hover .BeneficioIcon {
    color: #54a3f0; /* Cor do ícone ao passar o mouse */
    background-color: #5472f0; /* Cor de fundo do ícone ao passar o mouse */
}

.BeneficioIcons-serviceTitle {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0; /* Margem ajustada */
    text-transform: uppercase;
    color: #54a3f0;
}

.BeneficioIcons-serviceDescription {
    font-size: 1em;
    color: black;
    line-height: 1.4em;
}

/* Media Queries para responsividade */
@media (max-width: 1024px) {
    .BeneficioIcons-services {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }
}

@media (max-width: 600px) {
    .BeneficioIcons-services {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }

    .BeneficioIcons-title {
        font-size: 2em; /* Reduzir o tamanho da fonte */
    }

    .BeneficioIcons-description {
        font-size: 0.9em; /* Reduzir o tamanho da fonte */
    }

    .BeneficioIcons-serviceTitle {
        font-size: 0.9em; /* Ajustar título */
    }

    .BeneficioIcons-serviceDescription {
        font-size: 0.7em; /* Ajustar descrição */
    }
}
