.section-servicoicons {
  padding: 160px 0;
  background-color: #f9f9f9;
  text-align: center;
}

.container-servicoicons {
  max-width: 1200px;
  margin: 0 auto;
}

.titulo-servicoicons {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #6854f0;
}

.col-md-4-servicoicons {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  padding: 15px;
  box-sizing: border-box;
}

.icon-servicoicons {
  font-size: 40px;
  color: #3498db;
  margin-bottom: 15px;
}

.icon-xlg-servicoicons {
  font-size: 60px;
}

.font-servicoicons {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #54a3f0;
}

.descricao-servicoicons {
  font-size: 16px;
  color: black;
}

.row-servicoicons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@media (max-width: 768px) {
  .section-servicoicons {
    padding: 0px 0;  
  }

  .col-md-4-servicoicons {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 10px;  
  }

  .titulo-servicoicons {
    font-size: 22px;
    margin-bottom: 20px;  
  }

  .font-servicoicons {
    font-size: 18px;
    margin-bottom: 6px;  
  }

  .descricao-servicoicons {
    font-size: 14px;
    margin-bottom: 8px; 
  }

  .icon-xlg-servicoicons {
    font-size: 50px;
  }
}

@media (max-width: 576px) {

  .col-md-4-servicoicons {
    max-width: 100%;
    flex: 0 0 100%;
    padding: 5px; 
  }

  .titulo-servicoicons {
    font-size: 20px;
    margin-bottom: 15px;  
  }

  .font-servicoicons {
    font-size: 16px;
    margin-bottom: 5px;  
  }

  .descricao-servicoicons {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .icon-xlg-servicoicons {
    font-size: 40px;
  }
}
