.BeneficioIcons-container {
    text-align: center;
    padding: 260px 20px;
}

.BeneficioIcons-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #6854f0 ;
}

.BeneficioIcons-description {
    font-size: 1em;
    color: black;
    margin-bottom: 50px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6em;
}

.BeneficioIcons-services {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    max-width: 1200px;
    margin: 0 auto;
}

.BeneficioIcons-serviceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 15px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.BeneficioIcons-serviceItem:hover {
    transform: translateY(-10px);
}

.BeneficioIcon {
    font-size: 2.5em;
    color: #54a3f0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #54a3f0;
    margin-bottom: 10px;
    transition: color 0.3s, background-color 0.3s;
}

.BeneficioIcons-serviceItem:hover .BeneficioIcon {
    color: #54a3f0;
    background-color: #5472f0;
}

.BeneficioIcons-serviceTitle {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
    text-transform: uppercase;
    color: #54a3f0;
}

.BeneficioIcons-serviceDescription {
    font-size: 1em;
    color: black;
    line-height: 1.4em;
}


@media (max-width: 1024px) {
    .BeneficioIcons-services {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .BeneficioIcons-services {
        grid-template-columns: 1fr; 
    }

    .BeneficioIcons-title {
        font-size: 2em; 
    }

    .BeneficioIcons-description {
        font-size: 0.9em;
    }

    .BeneficioIcons-serviceTitle {
        font-size: 0.9em;
    }

    .BeneficioIcons-serviceDescription {
        font-size: 0.7em; 
    }
}
