.why-choose-us {
    padding: 50px 0;
}

.container-InformacaoHomeSem {
    max-width: 1200px;
    margin: 0 auto; 
    text-align: left;
}

h2 {
    margin-bottom: 20px; 
    position: relative; 
}

h2::after {
    display: block;
    width: 50px; 
    height: 2px; 
    background-color: #00bfff; 
    margin-top: 10px; 
}

.content-HomeSem {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.left-section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 60%; 
}

.card-informacaoSem {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
}

.icon-InformacaoHomeSem {
    font-size: 2rem; 
    color: #00bfff;
    margin-bottom: 10px; 
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.right-HomeSem {
    flex-shrink: 0;
}

.right-HomeSem img {
    width: 191px;
    height: auto; 
    margin-left: 20px; 
}
