.introduction-container-visao_geral {
    margin: 20px 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
}

.introduction-title-visao_geral {
    color: #6854f0;
    margin-bottom: 15px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.introduction-text-visao_geral,
.introduction-note-visao_geral {
    color: #000000;
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 1.1em;
    text-align: justify;
}

@media (max-width: 768px) {
    .introduction-container-visao_geral {
        padding: 15px;
    }

    .introduction-title-visao_geral {
        font-size: 1.6em;
    }

    .introduction-text-visao_geral,
    .introduction-note-visao_geral {
        font-size: 0.95em;
    }
}