.MarcarConsulta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    color: white;
    max-width: 1262px;
    margin: 190px auto;
    position: relative;
    overflow: hidden;
    background-image: url('../Imagens/fundo.png');
    background-size: cover;
    background-position: center;
}

.MarcarConsulta-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(104, 84, 240, 0.7);
    z-index: 1;
}

.content-MarcarConsulta {
    max-width: 50%;
    z-index: 2;
    position: relative;
    padding: 20px;
    border-radius: 20px;
}

.image-container-MarcarConsulta {
    max-width: 50%;
    z-index: 2;
    position: relative;
}

.image-container-MarcarConsulta img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.main-MarcarConsulta {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}

.description-MarcarConsulta {
    font-size: 1rem;
    margin-bottom: 30px;
    line-height: 1.6;
    text-align: justify;
}

.specialists-text {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.buttons-MarcarConsulta {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 10px !important;
}

.MarcarConsulta-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 12px 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.MarcarConsulta-btn:hover {
    background-color: white;
    color: #2d3282;
}

.icon-section-MarcarConsulta {
    margin-top: 30px;
}

.icon-item-MarcarConsulta {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.icon-item-MarcarConsulta span {
    font-size: 1rem;
}

.MarcarConsulta-icon {
    font-size: 1.8rem;
    margin-right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .MarcarConsulta-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        margin: 20px auto;
    }
    .content-MarcarConsulta, .image-container-MarcarConsulta {
        max-width: 100%;
    }
    .main-MarcarConsulta {
        font-size: 2rem;
    }
    .description-MarcarConsulta,
    .specialists-text,
    .icon-item-MarcarConsulta span {
        font-size: 0.9rem;
    }
}
