.medicoServiço-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .medicoServiço-header {
    font-size: 32px;
    font-weight: bold;
    color: #6854f0;
    margin-bottom: 20px;
    text-align: center; 
  }
  
  .medicoServiço-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .profissional-card.medicoServiço {
    width: 250px;
    max-width: 100%; 
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .avatar-container-medicoServiço {
    width: 160px;
    height: 160px; 
    border-radius: 8px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .avatar.medicoServiço {
    width: 78%;
    height: auto; 
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #fff;
  }
  
  .info-medicoServiço {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .medicoServiço-name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
  
  .medicoServiço-title {
    font-size: 16px;
    font-weight: 400;
    color: black;
    margin-bottom: 5px;
  }
  
  .medicoServiço-description {
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
  }
  
  .medicoServiço-contact {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-bottom: 15px;
  }
  
  .medicoServiço-media {
    display: flex;
    gap: 10px;
    justify-content: center;
    color: black;
  }
  
  .medicoServiço-icon {
    font-size: 18px;
    color: black;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .medicoServiço-icon:hover {
    color: black; 
  }
  
 /* Responsividade */
  @media (max-width: 768px) {
    .medicoServiço-header {
      font-size: 20px;
    }
  
    .profissional-card.medicoServiço {
      width: 90%;
      max-width: 300px;
    }
  
    .medicoServiço-name {
      font-size: 16px; 
    }
  
    .medicoServiço-title {
      font-size: 14px;
    }
  
    .medicoServiço-description {
      font-size: 12px;
    }
  
    .medicoServiço-contact {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .medicoServiço-header {
      font-size: 18px;
    }
  
    .profissional-card.medicoServiço {
      width: 95%;
    }
  
    .medicoServiço-name {
      font-size: 14px; 
    }
  
    .medicoServiço-title {
      font-size: 12px; 
    }
  
    .medicoServiço-description {
      font-size: 10px;
    }
  
    .medicoServiço-contact {
      font-size: 10px;
    }
  }
  