.doctorHome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: 100px !important; 

}

.doctorHome-medico-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0 !important;
}

.doctorHome-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #6854f0;
}

.doctorHome-doctors-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0 10px;
}

.doctorHome-doctor-card {
  position: relative;
  width: 250px;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.doctorHome-doctor-card:hover {
  transform: scale(1.05);
}

.doctorHome-doctor-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.doctorHome-doctor-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}

.doctorHome-doctor-name {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-top: 15px;
}

.doctorHome-doctor-role {
  font-size: 14px;
  color: black;
}

.doctorHome-doctor-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #54a3f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.doctorHome-doctor-card:hover .doctorHome-doctor-overlay {
  opacity: 1;
}

.doctorHome-social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.doctorHome-social-icon-container {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.doctorHome-social-icon {
  margin-right: 8px;
}

.doctorHome-social-text {
  display: flex;
  align-items: center;
}

a {
  color: white;
}

/* Responsividade */
@media (max-width: 768px) {
  .doctorHome-doctor-card {
    width: 180px;
    height: 240px;
  }

  .doctorHome-title {
    font-size: 20px;
  }

  .doctorHome-doctors-list {
    gap: 15px;
    padding: 0 5px;
  }
}

@media (max-width: 480px) {
  .doctorHome-doctor-card {
    width: 150px;
    height: 200px;
  }

  .doctorHome-title {
    font-size: 18px;
  }
}
