.miniBanner-achievements-container {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    background-color: #f0f8ff; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-top: -70px; 
    background-image: url('../Imagens/fundo.png');
}

.miniBanner-overlay {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(104, 84, 240, 0.7);
    z-index: 1; 
}

.miniBanner-image-achievements {
    position: relative; 
    z-index: 2; 
    margin: 0 auto; 
}

.miniBanner-image-achievements img {
    max-width: 450px;
    height: auto;
    border-radius: 8px;
}

.miniBanner-achievements-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2; 
}

.miniBanner-achievements-title {
    font-size: 24px; 
    color: #ffffff; 
    margin-bottom: 20px;
    text-align: center; 
    font-weight: bold;
}

.miniBanner-achievement-list {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
}

.miniBanner-achievement-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: background-color 0.3s ease; 
}

.miniBanner-achievement-item:hover {
    background-color: #6854f0;
    border-radius: 5px; 
}

.miniBanner-achievement-icon {
    color: #54a3f0;
    font-size: 40px;
    text-align: justify;
}

.miniBanner-achievement-description {
    margin: 0;
    color: #ffffff; 
}


@media (max-width: 1024px) {
    .miniBanner-achievements-container {
        padding: 60px;
        margin-top: 150px;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
    }

    .miniBanner-image-achievements {
        margin: 0 auto;
    }

    .miniBanner-achievements-title {
        font-size: 22px; 
    }

    .miniBanner-image-achievements img {
        max-width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .miniBanner-achievements-container {
        padding: 40px;
        margin-top: 100px;
    }

    .miniBanner-achievement-list {
        grid-template-columns: 1fr;
    }

    .miniBanner-image-achievements {
        margin-bottom: 20px; 
        margin: 0 auto;
    }

    .miniBanner-achievements-title {
        font-size: 20px;
    }

    .miniBanner-achievement-icon {
        font-size: 35px;
    }
}

@media (max-width: 480px) {
    .miniBanner-achievements-container {
        padding: 20px;
        margin-top: 50px;
    }

    .miniBanner-achievements-title {
        font-size: 18px;
    }

    .miniBanner-achievement-description {
        text-align: center; 
    }

    .miniBanner-achievement-icon {
        font-size: 30px;
    }
}
