.language-card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px;
  border: 2px solid #54a3f0;
  border-radius: 20px;
  position: relative;
  width: 100%;
  max-width: 863px;
  margin: 200px auto;
  gap: 20px;
  box-sizing: border-box;

}

.text-section-alexia {
  max-width: 45%;
}

.language-title-alexia {
  font-size: 2rem;
  color: #6854f0;
  margin-bottom: 10px;
  text-align: left; 
  font-weight: bold;
}

.highlight-text-alexia {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: 500;
  text-align: left;
}

.description-3D {
  font-size: 1.1rem;
  color: black;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: justify;
}

.buttons-alexia {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.get-started-btn {
  background-color: #5472f0;
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.get-started-btn:hover {
  background-color: #5472f0;
}

.image-section-alexia {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 40%;
}

.sketchfab-embed-wrapper {
  width: 120%;
  height: auto;
}

.sketchfab-embed-wrapper iframe {
  width: 100%;
  height: 500px;
  border-radius: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .language-card-container {
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin: 50px auto;
  }

  .text-section-alexia {
    max-width: 100%;
    text-align: center; 
    margin-bottom: 20px;
  }

  .image-section-alexia {
    max-width: 100%;
  }

  .sketchfab-embed-wrapper {
    width: 100%;
  }

  .sketchfab-embed-wrapper iframe {
    height: 300px;
  }
}
