/* Navbar.css */
.navbar {
  background-color: #333; /* Cor de fundo da Navbar */
}

.MuiTooltip-tooltip {
  font-size: 0.875rem; /* Tamanho da fonte do Tooltip */
}

.MuiTooltip-tooltipPlacementBottom {
  margin-top: 8px; /* Margem do Tooltip quando está embaixo do ícone */
}

.MuiIconButton-root {
  transition: transform 0.3s ease; /* Efeito suave de transformação */
}

.MuiIconButton-root:hover {
  transform: scale(1.1); /* Aumenta o ícone ao passar o cursor */
}

.MuiIconButton-root {
  color: white; /* Cor dos ícones */
}

.MuiIconButton-root:hover {
  color: #a0a0a0; /* Cor dos ícones ao passar o cursor */
}
