.painel-agendamento {
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
    background-color: #ffffff;
}
 
.titulo-agendamento {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000000;
    text-align: center;
}
 
.linha-cartoes-agendamento {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
 
.cartao-paciente-agendamento,
.cartao-medico-agendamento,
.cartao-enfermeiro-agendamento,
.cartao-emergencia-agendamento {
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    text-align: center;
    background-color: #ffffff;
    transition: transform 0.2s, box-shadow 0.2s;
}
 
.cartao-paciente-agendamento:hover,
.cartao-medico-agendamento:hover,
.cartao-enfermeiro-agendamento:hover,
.cartao-emergencia-agendamento:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
 
.icone-cartao-agendamento {
    margin-bottom: 15px;
    color: #54a3f0;
}
 
.conteudo-cartao-agendamento h2 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #2c3e50;
}
 
.conteudo-cartao-agendamento p {
    font-size: 16px;
    color: #555;
}
 
/* Estilos Responsivos */
@media (max-width: 900px) {
    .cartao-paciente-agendamento,
    .cartao-medico-agendamento,
    .cartao-enfermeiro-agendamento,
    .cartao-emergencia-agendamento {
        width: calc(50% - 20px);
    }
}
 
@media (max-width: 600px) {
    .cartao-paciente-agendamento,
    .cartao-medico-agendamento,
    .cartao-enfermeiro-agendamento,
    .cartao-emergencia-agendamento {
        width: calc(100% - 20px);
    }
}