.user-profile {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    margin: 30px auto;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #007BFF;
    margin-bottom: 15px;
}

.profile-name {
    font-size: 1.75em;
    color: #2c3e50;
    margin: 10px 0;
    font-weight: bold;
}

.username {
    color: #6854f0;
    font-size: 16px;
    margin-top: 5px;
}

.position {
    font-weight: bold;
    color: #555;
    margin: 5px 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.bio {
    margin: 15px 0;
    color: #333;
    line-height: 1.6;
    font-size: 15px;
}

.tags,
.location {
    margin-top: 20px;
    text-align: left;
}

h4 {
    font-weight: bold;
    margin-bottom: 8px;
    color: #6854f0;
    font-size: 16px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    color: #333;
    margin-bottom: 8px;
    font-size: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
    .user-profile {
        padding: 20px;
    }

    .profile-pic {
        width: 100px;
        height: 100px;
    }
}