/* Container Principal */
.planoBeneficio-pricing-container {
  text-align: center;
  padding: 40px;
  font-family: 'Arial', sans-serif;
}

.planoBeneficio-pricing-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Flex para organizar as opções e os cards */
.planoBeneficio-pricing-options {
  display: flex;
  justify-content: center;
  gap: 40px;
}

/* Opções disponíveis */
.planoBeneficio-available-options {
  text-align: left;
  max-width: 200px;
}

.planoBeneficio-available-options div {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.planoBeneficio-available-options div:last-child {
  color: #666;
  font-size: 16px;
}

/* Estilos dos cards de preços */
.planoBeneficio-pricing-card {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  position: relative;
}

.planoBeneficio-most-popular {
  border: 2px solid #29c0d0;
}

.planoBeneficio-badge {
  background-color: #29c0d0;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.planoBeneficio-pricing-card h3 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
  text-transform: uppercase;
}

.planoBeneficio-price {
  font-size: 32px;
  font-weight: bold;
  color: #29c0d0;
  margin-bottom: 15px;
}

.planoBeneficio-price span {
  font-size: 14px;
  color: #888;
}

.planoBeneficio-pricing-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.planoBeneficio-pricing-card li {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.planoBeneficio-pricing-card .planoBeneficio-not-included {
  text-decoration: line-through;
  color: #ccc;
}

.planoBeneficio-button {
  background-color: #29c0d0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.planoBeneficio-button:hover {
  background-color: #1ea6b7;
}
