.PlanoCliente-PricingPlans {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 260px;
}

.PlanoBeneficio-title {
  color: #6854f0;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.PlanoBeneficio-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap; /* Permite que os cards se movam para a próxima linha em telas menores */
}

.PricingCard-PlanoBeneficio {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: transform 0.3s; /* Transição suave para o hover */
}

.Card-header-PlanoBeneficio {
  text-align: center;
  margin-bottom: 10px;
}

.Card-icon-PlanoBeneficio {
  font-size: 40px;
  margin-bottom: 10px;
  color: #54a3f0;
}

.Card-title-PlanoBeneficio {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #54a3f0;
}

.Card-subscription-PlanoBeneficio {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.Card-price-PlanoBeneficio {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.Card-value-description-PlanoBeneficio {
  text-align: center;
  margin-bottom: 10px;
  flex-grow: 1;
}

.Card-features-PlanoBeneficio {
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
}

.feature-icon-PlanoBeneficio {
  margin-right: 5px;
  color: #54a3f0;
}

.Card-button-PlanoBeneficio {
  background-color: #54a3f0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.Card-button-PlanoBeneficio:hover {
  background-color: #54a3f0; /* Cor ao passar o mouse */
}

/* Destaque para o plano familiar */
.PricingCard-PlanoBeneficio:nth-child(2) {
  border: 3px solid #54a3f0;
  box-shadow: 0 4px 12px #54a3f0;
}

/* Responsividade */
@media (max-width: 768px) {
  .PlanoBeneficio-title {
    font-size: 28px; /* Tamanho da fonte menor para telas menores */
  }

  .PlanoBeneficio-cards {
    flex-direction: column; /* Muda para coluna em telas menores */
    align-items: center; /* Centraliza os cards */
  }

  .PricingCard-PlanoBeneficio {
    width: 100%; /* Largura total em telas menores */
    max-width: 300px; /* Limite máximo da largura */
  }
}
