.pontosbene-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 90px;
  background-color: #f5f8fd;
}

.image-pontosbene {
  flex: 1;
  text-align: center;
  margin-right: 10px;
}

.pontosbene-image {
  width: 500px;
  height: auto;
  object-fit: contain;
}

.content-pontosbene {
  flex: 1.5;
  max-width: 600px;
  padding-left: 10px;
}

.content-pontosbene > .pontosbene {
  font-size: 32px;
  color: #6854f0;
  font-weight: bold;
}

.content-pontosbene > .pontosbene + .pontosbene {
  font-size: 16px;
  color: black;
  margin: 15px 0;
  font-weight: normal;
  text-align: center; /* Centraliza a descrição */
}

.pontosbene > .pontosbene {
  list-style-type: none;
  padding: 0;
}

.pontosbene > .pontosbene > .pontosbene {
  font-size: 16px;
  color: #5a5a5a;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.icon-pontosbene {
  color: #54a3f0;
  margin-right: 10px;
  font-size: 20px;
}

.pontosbene-btn {
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.pontosbene-btn:hover {
  background-color: #0056b3;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .pontosbene-container {
    flex-direction: column; /* Altera a direção do flex para coluna */
    padding: 30px; /* Reduz o padding para telas menores */
  }

  .image-pontosbene {
    margin-right: 0; /* Remove a margem à direita na coluna */
    margin-bottom: 20px; /* Adiciona um espaço abaixo da imagem */
  }

  .pontosbene-image {
    width: 100%; /* Faz a imagem ocupar 100% da largura disponível */
    max-width: 400px; /* Define um tamanho máximo para a imagem */
  }

  .content-pontosbene {
    padding-left: 0; /* Remove o padding esquerdo */
    max-width: 100%; /* Faz o conteúdo ocupar toda a largura disponível */
  }

  .content-pontosbene > .pontosbene {
    font-size: 24px; /* Reduz o tamanho do texto do título */
  }

  .content-pontosbene > .pontosbene + .pontosbene {
    font-size: 14px; /* Reduz o tamanho do texto do parágrafo */
  }

  .icon-pontosbene {
    font-size: 18px; /* Reduz o tamanho do ícone */
  }

  .pontosbene-btn {
    font-size: 14px; /* Reduz o tamanho do texto do botão */
    padding: 10px 20px; /* Ajusta o padding do botão */
  }
}
