.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    background-color: #fff;
    padding: 20px;
}

.left-panel {
    flex: 2;
    background-color: #fff;
    border-radius: 10px;
}

.right-panel {
    flex: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
}

@media (max-width: 1024px) {
    .dashboard-container {
        flex-direction: column;
    }

    .left-panel {
        margin-right: 0;
        margin-bottom: 20px;
        width: 100%;
    }

    .right-panel {
        width: 100%;
    }
}

@media (max-width: 768px) {

    .left-panel,
    .right-panel {
        padding: 15px;
        box-shadow: none;
    }

    .dashboard-container {
        padding: 10px;
    }
}

@media (max-width: 480px) {

    .left-panel,
    .right-panel {
        padding: 10px;
        border-radius: 5px;
    }

    .dashboard-container {
        padding: 5px;
    }
}