.cardsResultadoCliente-container {
    max-width: 1200px;
    margin: 260px auto 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardsResultadoCliente-header {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #6854f0;
}

.cardsResultadoCliente {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.cardsResultadoCliente-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s;
}

.cardsResultadoCliente-card:hover {
    transform: translateY(-5px);
}

.cardsResultadoCliente-image {
    width: 100%;
    height: auto;
}

.cardsResultadoCliente-content {
    flex: 1;
    padding: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardsResultadoCliente-date {
    font-size: 14px;
    margin-bottom: 5px;
}

.cardsResultadoCliente-title {
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0 10px;
}

.cardsResultadoCliente-text {
    font-size: 14px;
    margin-bottom: 15px;
    color: black;
    text-align: justify;
}

.cardsResultadoCliente-button-container .cardsResultadoCliente-link {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding-bottom: 15px;
    text-decoration: none;
}

.cardsResultadoCliente-link {
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: #54a3f0;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cardsResultadoCliente-link:hover {
    background-color: #007bbf;
}

.person-resultadoCliente-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.avatarResultadoCliente {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 10px;
}

.person-resultadoCliente-name {
    font-size: 15px;
    color: black;
}

/* Responsividade */
@media (max-width: 768px) {
    .cardsResultadoCliente-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .cardsResultadoCliente-card {
        width: 100%;
    }
}