.grafico-container-analise {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 12px;
    margin: 40px auto;
    max-width: 80%;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: padding 0.3s ease;
}

.grafico-header-analise {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    flex-wrap: wrap;
}

.grafico-title-analise {
    font-size: 28px;
    font-weight: bold;
    color: #6854f0;
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

.toggle-icon-analise {
    margin-left: 10px;
    cursor: pointer;
    color: #54a3f0;
    font-size: 24px;
}

.download-button-analise {
    background-color: #54a3f0;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.download-button-analise:hover {
    background-color: #54a3f0;
    transform: scale(1.05);
}

.period-analise {
    font-size: 16px;
    color: #000000;
    margin: 20px 0;
    text-align: center;
}

.analise-salarios-analise {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.analise-salarios-analise h3 {
    font-size: 24px;
    color: #6854f0;
    margin-bottom: 15px;
    text-align: center;
}

.analise-salarios-analise ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.analise-item-analise {
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

.money-icon-analise {
    color: #28a745;
    font-size: 20px;
    margin-right: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .grafico-container-analise {
        padding: 20px;
        max-width: 90%;
    }

    .grafico-header-analise {
        flex-direction: column;
        align-items: flex-start;
    }

    .grafico-title-analise {
        font-size: 22px;
        margin-bottom: 15px;
        text-align: left;
    }

    .download-button-analise {
        padding: 10px 20px;
        font-size: 14px;
    }

    .analise-salarios-analise h3 {
        font-size: 20px;
    }

    .analise-item-analise {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .grafico-container-analise {
        padding: 15px;
        max-width: 100%;
    }

    .grafico-title-analise {
        font-size: 18px;
    }

    .toggle-icon-analise {
        font-size: 20px;
    }

    .download-button-analise {
        padding: 8px 15px;
        font-size: 12px;
    }

    .period-analise {
        font-size: 14px;
    }

    .analise-salarios-analise h3 {
        font-size: 18px;
    }

    .analise-item-analise {
        font-size: 14px;
    }

    .money-icon-analise {
        font-size: 16px;
    }
}
