.expertise-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px;
  flex-wrap: wrap;
}

.expertise-content {
  max-width: 400px;
  flex: 1 1 300px;
}

.expertise-title {
  font-size: 24px;
  font-weight: 600;
  color: #6854f0;
  margin-bottom: 20px;
  border-bottom: 2px solid #54a3f0;
  display: inline-block;
  padding-bottom: 5px;
}

.expertise-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.expertise-item {
  background-color: #ffffff;
  color: #333;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.expertise-icon {
  font-size: 40px;
  margin-bottom: 10px;
  color: #54a3f0;
}

.expertise-service-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #54a3f0;
}

.expertise-service-description {
  font-size: 14px;
  color: black;
  text-align: justify;
}

.expertise-image {
  max-width: 480px;
  flex: 1 1 300px;
}

.expertise-image img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

/* Media Queries para responsividade */
@media (max-width: 1024px) {
  .expertise-section {
    padding: 80px 20px;
    gap: 30px;
  }

  .expertise-items {
    grid-template-columns: 1fr;
    /* Ajusta para uma coluna em telas menores */
  }

  .expertise-content,
  .expertise-image {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .expertise-title {
    font-size: 20px;
  }

  .expertise-icon {
    font-size: 30px;
  }

  .expertise-service-title {
    font-size: 16px;
  }

  .expertise-service-description {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .expertise-section {
    padding: 50px 10px;
    flex-direction: column;
    align-items: center;
  }

  .expertise-title {
    font-size: 18px;
  }

  .expertise-icon {
    font-size: 24px;
  }

  .expertise-service-title {
    font-size: 14px;
  }

  .expertise-service-description {
    font-size: 10px;
  }
}