/* Container principal */
.EspecialidadesCliente-directory {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
  font-family: 'Helvetica', sans-serif;
  color: #333;
}

.EspecialidadesCliente-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  color: #1c1c1c;
}

/* Lista de funcionários com espaçamento entre os cards */
.EspecialidadesCliente-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px; /* Adiciona espaçamento entre os cards */
}

/* Cartão de funcionário */
.EspecialidadesCliente-professional {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  width: calc(25% - 20px); /* Ajuste a largura para 25% menos o espaçamento */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.EspecialidadesCliente-professional:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Header do cartão */
.EspecialidadesCliente-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.EspecialidadesCliente-avatar {
  background-color: #0056b3;
  color: #fff;
  font-size: 18px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 15px;
}

.EspecialidadesCliente-info .EspecialidadesCliente-name {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.EspecialidadesCliente-info .EspecialidadesCliente-role {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

/* Detalhes do funcionário */
.EspecialidadesCliente-details div {
  margin: 10px 0;
  font-size: 14px;
  color: #555;
}

.EspecialidadesCliente-details svg {
  margin-right: 8px;
  color: #0056b3;
  font-size: 14px;
}

/* Ajuste de responsividade */
@media (max-width: 1200px) {
  .EspecialidadesCliente-professional {
    width: calc(33.33% - 20px); /* 3 colunas em telas médias */
  }
}

@media (max-width: 768px) {
  .EspecialidadesCliente-professional {
    width: calc(50% - 20px); /* 2 colunas em telas menores */
  }
}

@media (max-width: 480px) {
  .EspecialidadesCliente-professional {
    width: 100%; /* 1 coluna em telas muito pequenas */
  }
}
