.app-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 100px;
  margin-left: 50px;
}

.body-and-table {
  display: flex;
  flex-direction: column; /* Coloca o corpo e a tabela em coluna */
  align-items: center;
  gap: 40px; /* Aumenta o espaço entre o corpo e a tabela */
}

.svg-container {
  max-width: 400px;
  width: 100%;
  height: auto;
}

.sc-aXZVg.kuzLNx.human-body {
  position: relative;
  margin-top: 50px;
}

.tabela-container {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  margin-top: 60px; /* Adiciona mais espaço entre o corpo e a tabela */
  transition: transform 0.3s ease;
}

.tabela-container:hover {
  transform: translateY(-5px);
}

.tabela-container h2 {
  color: #2c3e50;
  font-size: 20px;
  text-align: center;
  margin-bottom: 24px;
  border-bottom: 2px solid #2c26ef;
  padding-bottom: 10px;
}

.tabela-problemas {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabela-problemas th,
.tabela-problemas td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tabela-problemas th {
  background-color: #534caf;
  color: #fff;
  font-weight: bold;
}

.tabela-problemas td {
  font-size: 1em;
  color: #444;
}

/* Responsividade */
@media (max-width: 768px) {
  .app-container {
    padding-top: 40px;
    margin-left: 0;
  }

  .tabela-container {
    width: 90%;
    padding: 20px;
    margin-top: 60px; /* Mais espaço para a tabela no mobile */
  }
}

@media (max-width: 480px) {
  .tabela-container {
    margin-top: 50px; /* Ajusta o espaço para dispositivos menores */
  }
}
