.tecnologia {
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin-top: 150px;
}

.left-tecnologia {
  width: 33%;
}

.left-tecnologia img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right-tecnologia {
  width: 67%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
}

.service-card-tecnologia {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 15px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: black; 
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90%;
  height: 200px;
  margin: 0 auto;
}

.service-card-tecnologia:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.service-icon-tecnologia {
  font-size: 50px;
  margin-bottom: 10px; 
  color: #54a3f0;
}

.tecnologia-title {
  font-size: 1.2rem;
  margin: 0 0 5px 0;
  text-align: center;
  color: #54a3f0;
  font-weight: bold;
}

.tecnologia-description {
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  color: black;
  text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .tecnologia {
    flex-direction: column;
    height: auto;
  }

  .left-tecnologia {
    width: 100%;
  }

  .right-tecnologia {
    width: 100%; 
    padding: 30px;
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 20px;
  }

  .service-card-tecnologia {
    height: auto;
  }
}

@media (max-width: 480px) {
  .service-icon-tecnologia {
    font-size: 40px;
  }

  .tecnologia-title {
    font-size: 1rem;
  }

  .tecnologia-description {
    font-size: 0.8rem;
  }
}
