.testemunhos {
    padding: 40px;
    border-radius: 10px;
    margin: 20px 0;
    background-color: #ffffff;

    font-family: 'Arial', sans-serif;
}

.testemunhos h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
    color: #54d4f0;
    font-weight: bold;
}

.testemunhos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.testemunho-card {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.testemunho-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.foto-medico {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testemunho-card h3 {
    margin: 10px 0 5px 0;
    font-size: 22px;
    color: #34495e;
}

.testemunho-card p {
    margin: 5px 0;
    color: #7f8c8d;
}

.depoimento {
    font-style: italic;
    color: #555;
    margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
    .testemunho-card {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .testemunhos {
        padding: 20px;
    }

    .testemunhos h2 {
        font-size: 24px;
    }
}