.unidadebeneficio-container {
  color: #6854f0;
  padding: 50px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  margin-top: 290px;
}

.unidadebeneficio-header {
  margin-bottom: 30px;
}

.unidadebeneficio-title {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.unidadebeneficio-description {
  font-size: 1.2em;
  color: black;
  margin-top: 15px;
  max-width: 800px;
  margin: 0 auto;
}

.unidadebeneficio-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap; /* Permite que os cartões se movam para a linha seguinte se não houver espaço */
}

.unidadebeneficio-card {
  background-color: #1c1c1c;
  border-radius: 15px;
  overflow: hidden;
  width: 30%; /* Mantém a largura original */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
}

.unidadebeneficio-info {
  padding: 20px;
  flex-grow: 1;
}

.unidadebeneficio-more {
  margin-top: auto;
}

.unidadebeneficio-image {
  width: 100%;
  height: auto;
  border-bottom: 3px solid #6854f0;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .unidadebeneficio-card {
      width: 45%; /* Ajusta a largura para caber duas colunas em telas menores */
  }
}

@media (max-width: 480px) {
  .unidadebeneficio-card {
      width: 100%; /* Os cartões ocupam toda a largura em telas muito pequenas */
  }

  .unidadebeneficio-title {
      font-size: 24px; /* Tamanho da fonte reduzido */
  }

  .unidadebeneficio-description {
      font-size: 1em; /* Tamanho da fonte reduzido */
  }
}
