.card-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;

}

h2 {
    font-size: 1.6rem; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    text-align: center; /* Alinhamento centralizado */
    margin: 20px auto; /* Margens superior e inferior e centraliza horizontalmente */
    padding: 0; /* Sem padding */
    max-width: 80%; /* Limita a largura do título para não encostar nas bordas */
    animation: fadeIn 1s ease-in-out; /* Animação ao carregar */
  }
  
  /* Definindo a animação de desvanecimento */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px); /* Move o título um pouco para cima ao aparecer */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  

span {
    color: red;
}

@keyframes fadeInSlideUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-heading {
    font-size: 1.5rem;
    text-align: center;
    animation: fadeInSlideUp 1s ease-out;
    color: #333;
}

.highlight {
    color: #f44336;
    font-weight: bold;
    animation: fadeInSlideUp 1s ease-out 0.5s forwards;
}

.card-container {
     position: relative; 
     /* padding-bottom: 200px; */
    width: calc(25% - 20px);
    max-width: 250px;
    height: auto;
    aspect-ratio: 2 / 3;
    /* overflow: hidden; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

/* Efeito de hover na imagem do card */
.card-container:hover .card-image {
    opacity: 0.5;
}

.card-icon-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-container:hover .card-icon-container {
    opacity: 1;
}

.card-icon {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

/* Estilos do título do card */
.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255) !important;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 18px;
}

/* Efeito de hover no título do card */
.card-container:hover .card-title {
    opacity: 1;
}

/* Responsividade para telas menores */
@media (max-width: 1200px) {
    .card-container {
        width: calc(25% - 20px);
        /* 4 colunas */
    }
}

@media (max-width: 900px) {
    .card-container {
        width: calc(33.33% - 20px);
        /* 3 colunas */
    }
}

@media (max-width: 600px) {
    .card-container {
        width: calc(50% - 20px);
        /* 2 colunas */
    }

    .card-title {
        font-size: 14px;
    }

    .card-icon {
        padding: 8px;
    }
}

@media (max-width: 400px) {
    .card-container {
        width: calc(100% - 20px);
        /* 1 coluna */
    }

    .card-title {
        font-size: 12px;
    }

    .card-icon {
        padding: 6px;
    }
}
