.UnidadeHome-featured-properties-wrapper {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: #fff;
 margin-top: 150px;
}

.UnidadeHome-featured-properties {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.UnidadeHome-content {
  flex: 3; 
}

.UnidadeHome-featured-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #6854f0;
}

.UnidadeHome-properties-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.UnidadeHome-property-card {
  background-color: #f5f5f5;
  border-radius: 20px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.UnidadeHome-property-card:hover {
  transform: scale(1.05);
}

.UnidadeHome-property-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.UnidadeHome-property-info {
  padding: 15px;
  text-align: center;
}

.UnidadeHome-property-info .UnidadeHome-property-name {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.UnidadeHome-property-info .UnidadeHome-property-location {
  font-size: 14px;
  color: black;
}

.UnidadeHome-sidebar-Home {
  flex: 0 0 350px;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.UnidadeHome-sidebar-title {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
  color: #54d4f0;
}

.UnidadeHome-sidebar-description {
  color: #555;
  font-size: 14px;
  margin-bottom: 30px;
  line-height: 1.5;
}

.UnidadeHome-explore-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5472f0;
  color: #fff;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.UnidadeHome-explore-btn svg {
  margin-left: 10px;
}

.UnidadeHome-explore-btn:hover {
  background-color: #4f62e2;
}

/* Responsividade */
@media (max-width: 1024px) {
  .UnidadeHome-featured-properties {
    flex-direction: column;
    align-items: center;
  }

  .UnidadeHome-sidebar-Home {
    flex: 0 0 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .UnidadeHome-properties-list {
    flex-direction: column;
    align-items: center;
  }

  .UnidadeHome-property-card {
    width: 90%;
    margin-bottom: 15px;
  }

  .UnidadeHome-sidebar-Home {
    margin-left: 0;
  }
}
