.UnidadesBeneficio-gridSection {
    padding: 20px; /* Espaçamento em volta da seção */
    text-align: center; /* Centraliza o texto */
    background-color: #f9f9f9; /* Cor de fundo da seção */
}

.UnidadesBeneficio-gridHeading {
    font-size: 24px; /* Tamanho da fonte do cabeçalho */
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaçamento abaixo do cabeçalho */
}

.UnidadesBeneficio-gridSubtitle {
    font-size: 16px; /* Tamanho da fonte do subtítulo */
    margin-bottom: 20px; /* Espaço abaixo do subtítulo */
}

.UnidadesBeneficio-gridContainer {
    display: flex; /* Exibe os cartões em linha */
    justify-content: space-around; /* Espaçamento uniforme entre os cartões */
    flex-wrap: wrap; /* Permite que os cartões se ajustem em diferentes tamanhos de tela */
}

.UnidadesBeneficio-card {
    background-color: #fff; /* Cor de fundo do cartão */
    border-radius: 10px; /* Arredondamento das bordas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra leve */
    width: 300px; /* Largura do cartão */
    height: 350px; /* Altura do cartão */
    margin: 15px; /* Margem entre os cartões */
    transition: transform 0.2s, box-shadow 0.2s; /* Transição suave */
    position: relative; /* Para posicionamento dos ícones */
}

.UnidadesBeneficio-card:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.UnidadesBeneficio-cardImage {
    width: 100%; /* Preenche a largura do cartão */
    height: 150px; /* Altura da imagem do cartão */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    border-top-left-radius: 10px; /* Arredondamento da borda superior esquerda */
    border-top-right-radius: 10px; /* Arredondamento da borda superior direita */
}

.UnidadesBeneficio-cardContent {
    padding: 16px; /* Espaçamento interno do conteúdo */
    flex-direction: column; /* Coloca itens em coluna */
    height: 100%; /* Faz o conteúdo ocupar toda a altura do cartão */
    justify-content: space-between; /* Espaçamento uniforme entre os itens */
}

.UnidadesBeneficio-cardTitle {
    font-size: 20px; /* Tamanho do título */
    font-weight: bold; /* Negrito */
    margin-bottom: 4px; /* Espaçamento abaixo do título */
    color: #333; /* Cor do título */
}

.UnidadesBeneficio-cardDescription {
    font-size: 16px; /* Tamanho da descrição */
    color: #666; /* Cor da descrição */
    text-align: left; /* Alinhamento do texto à esquerda */
    margin-top: auto; /* Empurra a descrição para baixo */
}
