.unidadebeneficio-container {
  color: #6854f0;
  padding: 0 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 8px;
  font-family: 'Arial', sans-serif;
  margin-top: 290px;
}

.unidadebeneficio-header {
  margin-bottom: 30px;
}

.unidadebeneficio-title {
  font-size: 32px;
  font-weight: 700;
}

.unidadebeneficio-description {
  font-size: 1.2em;
  color: black;
  margin-top: 15px;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.unidadebeneficio-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.unidadebeneficio-card {
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  width: 23%;
  box-shadow: 0px 8px 15px #d9d9d9;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.unidadebeneficio-info {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unidadebeneficio-name {
  font-size: 1.5em;
  color: #6854f0;
  font-weight: bold;
}

.unidadebeneficio-more {
  margin-top: auto;
}

.unidadebeneficio-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #6854f0;
}

.unidadebeneficio-button {
  background-color: #6854f0;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 10px;
  align-self: center;
}

.unidadebeneficio-button:hover {
  background-color: #5140c0;
  transform: scale(1.05);
}

.unidadebeneficio-button:active {
  background-color: #3e3090;
  transform: scale(0.95);
}

@media (max-width: 1024px) {
  .unidadebeneficio-card {
    width: 48%; 
  }
}

@media (max-width: 768px) {
  .unidadebeneficio-card {
    width: 48%;
  }
  .unidadebeneficio-title {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .unidadebeneficio-card {
    width: 100%;
  }
  .unidadebeneficio-title {
    font-size: 24px;
  }
  .unidadebeneficio-description {
    font-size: 1em;
  }
}
